/*  */
  .card{
          background-color:#61dafb85;
          box-shadow:  0px 0px 10px 0px rgba(198, 188, 188, 0.75);
          width: 400px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          gap: 18px;
          padding: 12px 0;
          & .image{
              width: 100px;
              height: 100px;
              border-radius: 50%;
              background-color: white;
          }
          & .description{
              font-size: 14px;
              text-align: center;
              padding: 0 12px;
          }
      
          .price-container{
              background-color: rgb(169, 190, 190);
              max-width: 70px;
              border-radius: 8px;
              padding: 5px;
          }
          & .price{
              font-weight: bold;
              font-size: 25pxpx;
              text-wrap: wrap;
              justify-content: center;
              
          }
      }

.container-button{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 10px;
    padding: 10px;
}
  

@media(max-width: 500px){
    .card{
        width: 200px;
    }
}