
.header{
    background-color: #c0c6d24a;
    border-radius: 28px;
    box-shadow: 0 0 10px 0 #000000;
    font-weight: bold;
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    & h1{
        color: yellowgreen;
        margin: 0;
        padding: 8px;
        border-radius: 50%;
        background-color: #c0c6d24a;
    } & .header-content {
        width: 300px;
        display: flex;
        justify-content: space-between;
    } & span{
        
        font-size: 25px;
    }
}



.navbar-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    & li{
        list-style: none;
        margin: 0 1em;
        & a{
            text-decoration: none;
            color: rgb(251, 249, 249);
            font-size: 1.2em;
            &:hover{
                color: #61dafb;
            }
        }
    }

}