
.header{
    background-color: #c0c6d210;
    border-radius: 28px;
    box-shadow: 0 0 10px 0 #000000;
    font-weight: bold;
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    animation-duration: 2s;
    animation-name: slidein;
    & h1{
        color: yellowgreen;
        font-weight: bold;
        margin: 0;
        padding: 18px;
        border-radius: 55%;
        background-color: #c0c6d24a;
    } & .header-content {
        width: 300px;
        display: flex;
        justify-content: space-between;
    } & span{
        
        font-size: 35px;
    }
}



.navbar-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    & li{
        list-style: none;
        margin: 0 1em;
        & a{
            text-decoration: none;
            color: rgb(251, 249, 249);
            font-size: 1.2em;
            &:hover{
                color: #61dafb;
            }
        }
    }

}

@media screen and (max-width: 428px){
    .header{
        flex-direction: column;
        align-items: center;
        & .header-content{
            width: 100%;
            margin-top: 1em;
        }
    } 
    .header ,.header-content{
        flex-direction: column;
    }
    .navbar-list{
        flex-direction: column;
        align-items: center;
        & li{
            margin: 1em 0;
        }
    }
    
}
@media screen and (max-width: 768px){
    .header{
        flex-direction: column;
        align-items: center;
        & .header-content{
            width: 100%;
            margin-top: 1em;
        }
    }
    .navbar-list{
        flex-direction: column;
        align-items: center;
        & li{
            margin: 1em 0;
        }
    }
    
}