

.navbarcontainer{
    background-color: #333;
}

.navbar{
    list-style-type: none;
    display: flex;
    justify-content: space-around; /* Distribuye los elementos equitativamente */
    padding: 0;
}
.list{
    margin: 0;
    padding: 10px;
}

.list-2{
    text-decoration: none;
    color: rgb(212, 34, 34)535;
}

li:hover{
    transition: 250ms;
    background-color: #000000;
}

.text-center{
    text-align: center;
}