

body {  
    background-color: #1a1a2e; /* Fondo oscuro */  
    color: #ffffff; /* Color del texto */  
    font-family: Arial, sans-serif;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 100vh;  
}  

.container-2 {  
    background-color: #16202c; /* Fondo del contenedor */  
    border-radius: 15px;  
    padding: 20px;  
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);  
    width: 400px; 
    height: 400px; 
    z-index: 99;
}  

.mb-3 {  
    margin-bottom: 1rem;  
}  

.form-label {  
    font-size: 1.2rem;  
    margin-bottom: 0.5rem;  
}  

.form-control {  
    background-color: #f0f0f0; /* Color de fondo de los input */  
    border: 1px solid #ccc; /* Bordes */  
    border-radius: 5px;  
    padding: 10px;  
    transition: border-color 0.3s; 
    width: 270px; 
}  

.form-control:focus {  
    border-color: #3ab0ff; /* Color al enfocar */  
    outline: none; /* Sin contorno */  
}  

.btn-primary {  
    background-color: #3ab0ff; /* Color del botón */  
    border: none;  
    border-radius: 5px;  
    padding: 10px;  
    width: 100%;  
    font-size: 1.1rem;  
    transition: background-color 0.3s;  
}  

.btn-primary:hover {  
    background-color: #007bb5; /* Color del botón al pasar el ratón */  
}  

.footer-links {  
    display: flex;  
    justify-content: space-between;  
    margin-top: 15px;  
    font-size: 0.9rem;  
} 

.Button{
    margin-top: 5px;
    width: 270px;
}

.illustration {
    position: absolute;
    top: 15%;
    right: 570px;
    width: 20%;
}